* {
	box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
	color: #fff;
}
.content {
    margin: 20px auto;
    width: 100%;
    max-width: 960px;
    padding: 30px 40px;
	background: rgba(0,0,0,0.35);
}
h1 {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 50px;
    text-align: center;
}
p {
    margin: 0 0 30px 0;
    font-size: 22px;
    line-height: 1.4;
}
p:last-child {
	margin-bottom: 0;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.fullscreen-bg__playlist {
	display: none;
}
@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}
@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}
@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('https://robocop79.github.io/images/Subscribe.png') center center / cover no-repeat;
    }
    .fullscreen-bg__video {
        display: none;
    }
}
